<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:href="@{/js/bid.js}"></script>
</head>

<body>
	<div class="container">

		<form th:action="@{/admin/home}" method="get">
			<button class="btn btn-md btn-info btn-block" name="registration"
				type="Submit">Go Back</button>
		</form>
		<br>
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>


		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:text="${userName}"></span>
				</div>



				<div class="panel-body">
					<form th:action="@{/bid/userbid}" method="POST"
						th:object="${userChoiceMatch}">
						<div class='panel-content'>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">Select
									Match</label>
								<div class="col-sm-10">
									<!-- 								<input type="hidden" name="ipl_MATCHES.id" value=""/> -->
									<select class="form-control" id="selected"
										name="choiceMatchID.matchId">
										<option>Select</option>
										<option th:each="match:${matches}" th:value="${match.id}"
											th:if="${#dates.format(match.DATE, 'dd/MM/yyyy') ge #dates.format(#dates.createNow(),'dd/MM/yyyy')}"
											th:text="${#dates.format(match.DATE, 'dd/MM/yyyy')}+'-' +${match.TEAM1} +' vs ' + ${match.TEAM2} +'- ' + ${match.TIME} +'-' + ${match.venue}"
											th:attr="price=${match.price},firstTeamId = ${match.TEAM1.id},secondTeamId=${match.TEAM2.id},secondTeam=${match.TEAM2},firstTeam=${match.TEAM1}" />
									</select> <input type="hidden" th:value="${user}"
										name="choiceMatchID.user" />
									<!-- 									<label th:if="${#fields.hasErrors('matchid')}" -->
									<!-- 										class="validation-message">Please Select Match to bid</label> -->
								</div>
							</div>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">Select
									Team</label>
								<div class="col-sm-10">
									<select name="teamSelected.id" class="form-control"
										id="teamselect">
										<option>Select</option>
									</select>
									<!-- 									 <label th:if="${#fields.hasErrors('teamSelection')}" -->
									<!-- 										class="validation-message">Please Select Team to bid</label> -->
								</div>
							</div>
							<div class="form-group row">
								<label for="staticEmail" class="col-sm-2 col-form-label">Input
									Price</label>
								<div class="col-sm-10">
									<input type="text" readonly="readonly" id="optionMatchPrice" name="price"
										class="form-control">
								</div>
								<input type="hidden" th:value="${user.id}"
									name="choiceMatchID.Id" />
							</div>

							<div class="alert alert-danger" th:if="${successMessage!=null}">
								<strong th:text="${successMessage}"></strong>
							</div>
							<div class="form-actions">
								<button type="submit" class="btn">Confirm</button>
							</div>
						</div>
					</form>

					<div>
						<br>
					</div>
					<div class="panel-content">
						<a th:href="@{/admin/seeOtherBid}">
							<button class="btn btn-md btn-info btn-block" name="registration"
								type="Submit">See Other's Bid</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
<script>
	$(document)
			.ready(
					function() {
						$('#selected')
								.on(
										'change',
										function() {

											// getList<IPLTeams> for That match and
											// iterate and show
											$('#teamselect').children(
													'option:not(:first)')
													.remove();
											$("")
											var firstTeam = this.options[this.selectedIndex]
													.getAttribute('firstTeam');
											var firstTeamId = this.options[this.selectedIndex]
													.getAttribute('firstTeamId');

											var secondTeam = this.options[this.selectedIndex]
													.getAttribute('secondTeam');
											var secondTeamId = this.options[this.selectedIndex]
													.getAttribute('secondTeamId');
											$('#teamselect')
													.append(
															$(
																	"<option></option>")
																	.attr(
																			"value",
																			firstTeamId)
																	.text(
																			firstTeam));

											$('#teamselect')
													.append(
															$(
																	"<option></option>")
																	.attr(
																			"value",
																			secondTeamId)
																	.text(
																			secondTeam));

											var price = this.options[this.selectedIndex]
													.getAttribute('price');
											document
													.getElementById("optionMatchPrice").value = price

										})
					})
</script>


</html>