<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>
		<br>
		<div class="alert alert-info text-center">
			<strong id="demo" style="color: black"
				class="align-center text-center validation-message"></p>
		</div>
		<div class="panel-group" style="margin-top: 40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/beer.jpg}"
						class="img-responsive center-block" width="400" height="400"
						alt="Beer" />
				</div>
				<div class="panel-body">
					<div class="panel-content">
						<a th:href="@{/admin/seeOtherBid}">
							<button class="btn btn-md btn-danger btn-block">See
								Other's Bid</button>
						</a>
					</div>
					<div>
						<br>
					</div>
					<div class="panel-content">
						<a th:href="@{/admin/bid}">
							<button class="btn btn-md btn-warning btn-block">Your
								Bid</button>
						</a>
					</div>
				</div>

			</div>
		</div>

	</div>
</body>
<!-- Display the countdown timer in an element -->


<script>
	// Set the date we're counting down to
	var countDownDate = new Date();
	countDownDate.setHours(11);

	// Update the count down every 1 second
	var x = setInterval(function() {

		// Get todays date and time
		var now = new Date().getTime();

		// Find the distance between now an the count down date
		var distance = countDownDate - now;

		// Time calculations for days, hours, minutes and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24))
				/ (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// Display the result in the element with id="demo"
		document.getElementById("demo").innerHTML = days + "d " + hours + "h "
				+ minutes + "m " + seconds + "s ";

		// If the count down is finished, write some text 

	}, 1000);
</script>
</html>