<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<form th:action="@{/admin/home}" method="get">
			<button class="btn btn-md btn-info btn-block" name="registration"
				type="Submit">Go Back</button>
		</form>
		<br>
		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Logout</button>
		</form>
		<br> <br>
		<form th:action="@{/admin/getBidedRecord}" method="post">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span>Select Match/User to get Records</span>
				</div>
				<div class="panel-body">

					<div class='panel-content'>
						<div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Select
								Match</label>
							<div class="col-sm-10">
								<select class="form-control" id="selected" name="matchId">
									<!-- 									th:if="${match.isDisabled()}" -->
									<!-- 										th:disabled="!${match.isDisabled()}" -->
									<option value="-1">Select</option>
									<option th:each="match:${matches}" th:value="${match.id}"
										th:text="${match.DATE}+'-' +${match.TEAM1} +' vs ' + ${match.TEAM2} +'- ' + ${match.TIME} +'-' + ${match.venue}"
										th:attr="price=10,secondTeam=${match.TEAM2},firstTeam=${match.TEAM1}" />
								</select>
							</div>

						</div>
						<div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label">Select
								User</label>
							<div class="col-sm-10">
								<select class="form-control" id="selected" name="Id">
									<option value="-1">Select</option>
									<option th:each="user:${allUsers}" th:value="${user.id}"
										th:text="${user.name} +' ' +${user.lastName}" />

								</select>
							</div>

						</div>
						<div class="form-actions">
							<button type="submit" class="btn">Confirm</button>
						</div>
					</div>
					<br>

				</div>
			</div>
		</form>
		<div class="panel-content"
			th:if="${dataSelected==null || !dataSelected} ">
			<a th:href="@{/admin/bid}">
				<button class="btn btn-md btn-warning btn-block">Your Bid</button>
			</a>
		</div>

		<div class="panel-group" style="margin-top: 40px"
			th:if="${dataSelected}">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
				<div class="col-lg-12">
					<div class="col-lg-4"></div>
					<div class="col-lg-8">
						<span style="color: blue" th:if="${#lists.size(allBids)== 0}">
							No Data Found </span>
					</div>
				</div>
				<table class="table" th:if="${#lists.size(allBids) >0}">
					<thead>
						<tr>
							<th>UserId</th>
							<th>Match Between</th>
							<th>Team Selected</th>
							<th>Price</th>
							<th>Date</th>
							<th>Timing</th>
							<th>Venue</th>
							<th>Won</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="allBid : ${allBids}"
							th:classappend="${!allBid.won} ? 'LostClass':'WonClass'">
							<td th:text="${allBid.choiceMatchID.Id} ">
							<td
								th:text="${allBid.ipl_MATCHES.TEAM1} +'-' + ${allBid.ipl_MATCHES.TEAM2}">
							</td>
							<td th:text="${allBid.teamSelection}"></td>
							<td th:text="${allBid.ipl_MATCHES.price}"></td>
							<td th:text="${allBid.ipl_MATCHES.DATE}"></td>
							<td th:text="${allBid.ipl_MATCHES.TIME}"></td>
							<td th:text="${allBid.ipl_MATCHES.venue}"></td>
							<td th:if="${allBid.won}" class="blue"><label
								class="validation-message">YES</label></td>
							<td th:if="${!allBid.won}" class="error"><label
								class="validation-message">NO</label></td>

						</tr>
					</tbody>
				</table>
				<div class="panel-body">

					<div>
						<br>
					</div>
					<div class="panel-content">
						<a th:href="@{/admin/bid}">
							<button class="btn btn-md btn-info btn-block" name="registration"
								type="Submit">Your Bid</button>
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>